<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Analizador Lexico</h1>
    <input type="file">
    <button id="buttonCargar">Cargar</button>
    <ul>
                
    </ul>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/Analizador-Lexico-/src/public/cargador.js"></script>
       </body>
</html>

